<%= simple_form_for(@material_type, :html => {:class=> "form-horizontal"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.button :submit, :class=> "btn-success"%>
  </div>
<% end %>
