<%= simple_form_for(@unit, :html => {:class=> "form-horizontal"}) do |f| %>
  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=> "btn btn-success" %>
  </div>
<% end %>
